&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head lang="en"&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;&lt;/title&gt;
    &lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"&gt;
    &lt;!--&lt;script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"&gt;&lt;/script&gt;--&gt;

    &lt;script src="/res/js/jquery-1.10.0.min.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div style="width: 90%"&gt;
    &lt;h5&gt;{{question.question}}&lt;/h5&gt;
    <div ng-if="question.code">
        &lt;p style="font-family:'Courier New'" &gt;
            {{question.code | formatCode}}
        &lt;/p&gt;
    </div>
    &lt;form id="form" class="form-horizontal"&gt;
        <div ng-repeat="button in question.buttons">
        &lt;div class="checkbox" &gt;
            &lt;label id="nr{{button.id}}"&gt;
                &lt;input type="checkbox" name="valik" id="{{button.id}}"&gt;
                {{button.answer}} &lt;span id="TagasisideVastus{{button.id}}"&gt;&lt;/span&gt;
            &lt;/label&gt;

        &lt;/div&gt;
        </div>
        &lt;br/&gt;
        &lt;div class="form-action"&gt;
            &lt;input type="button" class="btn btn-default " value="Kontrolli" onclick="check()"&gt;
        &lt;/div&gt;
        &lt;div id="Tagasiside"&gt;
            &lt;span id="TagasisideVastus"&gt;&lt;/span&gt;
        &lt;/div&gt;
    &lt;/form&gt;
&lt;/div&gt;


&lt;script&gt;

    //Kontroll ja näitamine
    function check() {
        var oigeid=0;
        var valesid=0;
        <div ng-repeat="nupp in question.buttons">
        if($("#{{nupp.id}}").is(':checked')){
            {{nupp.isAnswer==1 ?'oigeid++':'valesid++'}};
            {{nupp.isAnswer==1 ?'$("#TagasisideVastus'+nupp.id+'").css("background-color", "#ADFF2F")':'$("#TagasisideVastus'+nupp.id+'").css("background-color", "yellow")'}};
            {{nupp.isAnswer==1 ?'$("#TagasisideVastus'+nupp.id+'").html("'+nupp.feedback+'")':'$("#TagasisideVastus'+nupp.id+'").html("'+nupp.wrongFeedback+'")'}};
        }
        else{
            {{nupp.isAnswer!=1 ?'oigeid++':'valesid++'}};
            {{nupp.isAnswer!=1 ?'$("#TagasisideVastus'+nupp.id+'").css("background-color", "#ADFF2F")':'$("#TagasisideVastus'+nupp.id+'").css("background-color", "yellow")'}};
            {{nupp.isAnswer!=1 ?'$("#TagasisideVastus'+nupp.id+'").html("'+nupp.feedback+'")':'$("#TagasisideVastus'+nupp.id+'").html("'+nupp.wrongFeedback+'")'}};
        }
        </div>
        if(valesid==0){
            $("#Tagasiside").css("background-color", "#ADFF2F");
            $("#TagasisideVastus").html("Õigesti "+oigeid);
        }
        else {
            $("#Tagasiside").css("background-color", "yellow"); //värvus
            $("#TagasisideVastus").html("Õigesti "+oigeid+", valesti "+valesid);
        }


    }
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;