
@media screen and (min-width:768px) {
    body {
        width: 80%;
        margin:auto;
    }
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.scrolltable{
    max-height: 400px;
    overflow: auto;
}